In [26]:
# Calculando o risco de um ativo
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [34]:
tickers = ['PG', 'BEI.DE']

sec_data = pd.DataFrame()

for t in tickers:
    sec_data[t] = wb.DataReader(t, data_source='yahoo', start='2018-1-1')['Adj Close']

In [35]:
sec_data.tail()

                    PG     BEI.DE
Date
2022-02-07  160.320007  87.760002
2022-02-08  159.960007  88.300003
2022-02-09  159.600006  87.400002
2022-02-10  157.169998  87.019997
2022-02-11  156.289993  88.000000

In [36]:
sec_returns = np.log(sec_data / sec_data.shift(1))

In [37]:
sec_returns

                  PG    BEI.DE
Date
2018-01-02       NaN       NaN
2018-01-03 -0.001214  0.004977
2018-01-04  0.007044  0.014173
2018-01-05  0.000658  0.012365
2018-01-08  0.005247  0.010222
...              ...       ...
2022-02-07 -0.007519  0.001140
2022-02-08 -0.002248  0.006134
2022-02-09 -0.002253 -0.010245
2022-02-10 -0.015343 -0.004357
2022-02-11 -0.005615  0.011199

[1037 rows x 2 columns]

# PG

In [39]:
sec_returns['PG'].mean()

0.0006387109155292411

In [40]:
sec_returns['PG'].mean() * 250

0.15967772888231027

In [41]:
sec_returns['PG'].std()

0.01365118558182005

In [43]:
sec_returns['PG'].std() * 250 ** 0.5

0.21584419600101112

# BEIERSDORF

In [44]:
sec_returns['BEI.DE'].mean()

-7.601524577472262e-05

In [45]:
sec_returns['BEI.DE'].mean() * 250

-0.019003811443680654

In [46]:
sec_returns['BEI.DE'].std()

0.012947308618552688

In [47]:
sec_returns['BEI.DE'].std() * 250 ** 0.5

0.20471492401877342

In [48]:
print (sec_returns['PG'].mean() * 250)
print (sec_returns['BEI.DE'].mean() * 250)

0.15967772888231027
-0.019003811443680654

In [52]:
sec_returns[['PG','BEI.DE']].mean() * 250

PG        0.159678
BEI.DE   -0.019004
dtype: float64

In [53]:
sec_returns[['PG','BEI.DE']].std() * 250 ** 0.5

PG        0.215844
BEI.DE    0.204715
dtype: float64