# Covariança e Correlação

In [4]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [21]:
tickers = ['PG', 'BEI.DE']

sec_returns = pd.DataFrame()

for t in tickers:
    sec_returns[t] = wb.DataReader(t, data_source='yahoo', start='1997-1-1')['Adj Close']

In [22]:
PG_var = sec_returns['PG'].var()
PG_var

1042.5475689399898

In [23]:
BEI_var = sec_returns['BEI.DE'].var()
BEI_var

813.9157623990193

In [24]:
PG_var_a = sec_returns['PG'].var() * 250
PG_var_a

260636.89223499745

In [25]:
BEI_var_a = sec_returns['BEI.DE'].var() *250
BEI_var_a

203478.94059975483

In [26]:
cov_matrix = sec_returns.cov()
cov_matrix

                 PG      BEI.DE
PG      1042.547569  828.730237
BEI.DE   828.730237  813.915762

In [27]:
cov_matrix = sec_returns.cov() *250
cov_matrix

                   PG         BEI.DE
PG      260636.892235  207182.559373
BEI.DE  207182.559373  203478.940600

In [28]:
corr_matrix = sec_returns.corr()
corr_matrix

             PG   BEI.DE
PG      1.00000  0.90378
BEI.DE  0.90378  1.00000